.house_homepage {
    box-shadow: 0 0 7px 7px lightblue inset;
    -moz-box-shadow: 7px 7px 5px blue;
    -webkit-box-shadow: 0px 0px 30px blue;
    -khtml-box-shadow: 7px 7px 5px blue;
}


#amogusbody:hover :not(span) {
    visibility: hidden;
}

#amogusbody:hover span {
    visibility :visible;
    color:red;  
}
